<h1>Index de requests</h1>
<table class="books_table">
  <% @requests.each do |request| %>
  <tr>
    <td><%= request.book_id %></td>
    <td><%= request.user_id %></td>
    <td><%= request.status %></td>
  </tr>
  <% end %>
</table>
