/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

$title-font:'Times New Roman';
$opacity-light: rgba(0,0,0,0.2);
$opacity-dark: rgba(0,0,0,0.5);
$a-font:'Arial';
$denied-color: rgb(200,0,0);

.wrapper {
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  padding-top: 15px;
  border-top: 1px solid $opacity-light;
}

.title {
  font-family: $title-font;
  font-weight: 900;
  text-align: center;
   h1 {
    -webkit-margin-before: 0px;
  }
}

.book-title {
  font-family: $title-font;
  font-weight: 900;
  font-size: 35px;
}

.book-author {
  display: flex;
  align-content: space-between;
  font-size: 20px;
  color: $opacity-dark;
  display: inline-block;
  padding-top: 5px;
}

.book-year {
  font-size: 20px;
  color: $opacity-dark;
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid $opacity-light
}

.image {
  float: left;
  width: 250px;
  height: 400px;
  background-color: yellow;
  margin-right: 50px;
}

a.request {
  font-size: 20px;
  font-family: $a-font;
  float: right;
}

.books-table {
  border-spacing: 10px;
  width: 55%;
  margin-left: auto;
  margin-right: auto;
  border-collapse: collapse;
  font-family: Arial;

  tr {
    line-height: 35px;
    border-top: 1px solid $opacity-light;
  }
  td {
    word-wrap: break-word;
    padding: 0 10px;
    max-width: 300px;
    min-width: 70px;
  }
  a {
    color: black;
  }
}

.home-container {  
  display: flex;
  flex-direction: column;
  justify-content: center;
  a {
    color: black;
    font-weight: bold;
    font-size: 15px;
    text-decoration: none;
  }
}

.bold {
  text-decoration: none;
  font-weight: bold;
  font-size: 15px;
}

.denied {
  color: $denied-color;
}

.underlined {
  border-bottom: 2px solid black;
}

.date {
  font-size: 12px;
  font-weight: 600;
}

.lighter {
  font-weight: lighter;
}

.dark-opacity {
  color: rgba(0,0,0,0.5);
}

.light-opacity {
  color: rgba(0,0,0,0.3);
}
